html {
  font-family: sans-serif;
}

body {
  background-color: #eee;
  margin: 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
}

.subtle {
  color: #999;
}

footer {
  background-color: #eee;
  border-top: 1px solid #ddd;
  padding: 3em 0.5em;
}

header, header a {
  /*background: linear-gradient(180deg, #666, #333);*/
  background: linear-gradient(180deg, #665676, #433333);
  color: white;
  padding: 2em 0;
}

nav {
  display: inline;
}

nav a {
  margin: 0.75em 0.375em;
}

section.main {
  background-color: #fff;
  margin: 0;
  padding: 3em 0.5em;
}

section.main h1 {
  margin-top: 0;
}

.img-thumbnail {
  display: inline-block;
  padding: 2em 0.5em 0
}

img.thumbnail {
  width: 260px;
}

.img-thumbnail .label {
  font-size: 0.8125em;
  max-width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

header .site-id {
  font-weight: lighter;
  font-size: 1.25rem;
  margin-right: 2em;
}

.form-row {
  margin-bottom: 1.5em;
}

.form-row input[type="text"],
.form-row input[type="tel"] {
  width: 100%;
}

.order-btn,
.remove-btn {
  float: right;
  margin-right: 0.5em;
  white-space: nowrap;
}

.order-form {
  width: 560px;
}

.prime-cta {
  background: #f0c14b linear-gradient(to bottom, #f0c14b, #dbad44);
  border: 1px solid #b48937;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.125rem;
  padding: 6px 12px;
}

.prime-cta:hover {
  background: #f0c14b linear-gradient(to bottom, #f7c74d, #e5b745);
}

a.prime-cta {
  color: #333;
  text-decoration: none;
}

form.clear-shopping-card {
  margin-top: 2em;
}

#userlogout {
  float: right;
}
