<h1>Bestellung erfolgreich aufgegeben</h1>
<p>Sie haben soeben erfolgreich {{orderedImagesCount}} Bilder bestellt.</p>
<p>Sie werden Ihre Lieferung in 2 bis 4 Tagen erhalten.</p>
<p><a href="/galleries" class="prime-cta">Weiter shoppen &rarr;</a></p>
<p class="subtle">Für Rückfragen stehen ich Ihnen unter der Telefonnummer 0664 12345679 zur Verfügung.</p>